{
  "presets": [
    ["env", {
        "targets": {
            "chrome": 63,
            "firefox": 57
        }
    }],
    "react"
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
